* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.start-over {
  text-align: center;
  margin-top: 10px;
}

.homepage {
  color: #31d2f7;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  text-decoration: overline;
  font-size: 55px;
}

.anadiv {
  margin: 0 400px 70px 400px;
}

.parag {
  font-size: 23px;
  line-height: 20px;
}

.link {
  font-size: 23px;
  color: blueviolet;
}

.link:hover {
  font-size: 27px;
  transition: all 1s;
}

.container {
  width: 980px;
  margin: auto;
}
.div2 {
  margin: 80px;
  font-size: 23px;
}

.parag2 {
  font-size: 23px;
}

.links {
  text-decoration: underline solid #00a99d;
  color: #00a99d;
}

.links:hover {
  background-color: rgb(226, 238, 248);
  text-decoration: none;
}
